body{
    margin: 0;
}

.horizontal-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background-color: brown;
    width: 100%;
}

.horizontal-nav a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left:  115px;
    padding-right: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.horizontal-nav a:hover{
    background-color: rgb(117, 54, 23);
}

.horizontal-nav li{
    float: left;
}
nav{
    width: 100vw;
    height: 100vh;
}