body{
    margin: 0;
}

.horizontal-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: brown;
}

.horizontal-nav a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left:  115px;
    padding-right: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.horizontal-nav a:hover{
    background-color: rgb(117, 54, 23);
}
nav ul{
    display: flex;

}