body{
    margin: 0;
}
.vertical-nav{
    background-color: brown;
    display: block;
}
.vertical-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.vertical-nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.vertical-nav a:hover{
    background-color: rgb(117, 54, 23);
}

